.footer-section h3 {
    font-size: 18px; /* Smaller text size in pixels for headings */
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
}

.footer-section ul li {
    font-size: 14px; /* Smaller text size in pixels for list items */
    color: #B0B0B0; /* Lighter gray for text color */
}

.footer-section {
    margin-top: 20px; /* Move the elements lower */
}

.footer-bottom {
    margin-top: 40px; /* Additional space for the bottom section */
    text-align: center;
    color: #999999; /* Lighter gray for bottom text */
    font-size: 14px; /* Adjust the bottom text size */
}

.limited-hr {
    width: 80%;  /* Adjust this value to limit the width */
    margin: 0 auto;  /* Center the hr */
    border: 1px solid #3b3b3b;  /* Optional: Customize the border style, color, and width */
  }
  
  .rights{
    text-align: center;
    color: #999999;
    font-size: 14px;
  }

  .limited-hr {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #000;
}
